# General files
.env
.phpunit.result.cache

# Homestead and Vagrant Files
Homestead.json
Homestead.yaml
/.vagrant

/bootstrap/cache

/database/*.sqlite
/database/*.sqlite-journal

/storage/

/public/hot
/public/storage

/vendor
