# General files and directories
.env
.phpunit.result.cache
/.sonarlint
/vendor
/docker/logs/
/node_modules

# Homestead, Vagrant and IDE Files
Homestead.json
Homestead.yaml
/.vagrant
/.idea

/storage/
/public/docs

/public/deploy-status
