# General files and directories
.env
.phpunit.result.cache
/.sonarlint
/vendor
/docker/logs/

# Homestead, Vagrant and IDE Files
Homestead.json
Homestead.yaml
/.vagrant
/.idea

# /bootstrap/cache/*
# !/bootstrap/cache/.gitkeep

/storage/framework/cache/*
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*

/public/deploy-status
